<h1><%= @employee.first_name %></h1>
<ul><%= @employee.alias %></ul>
<ul><%= @employee.title %></ul>
<ul><%= @employee.office %></ul>
<ul><%= @employee.dog.name %></ul>
<ul><img src=<%= @employee.img_url%> ></ul>



